<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.zxq" />
        <option name="javaMapperPath" value="F:\SpringCloud_user\uaa\src\main\java\com\zxq" />
        <option name="javaModelPackage" value="com.zxq" />
        <option name="javaModelPath" value="F:\SpringCloud_user\uaa\src\main\java\com\zxq" />
        <option name="lastDatabaseCrudChooseModuleName" value="SpringCloud" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="SpringCloud">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.zxq" />
                  <option name="javaMapperPath" value="F:\SpringCloud_user\uaa\src\main\java\com\zxq" />
                  <option name="javaModelPacakge" value="com.zxq" />
                  <option name="javaModelPath" value="F:\SpringCloud_user\uaa\src\main\java\com\zxq" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="F:\SpringCloud_user\uaa\src\main" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="db-uaa:tb_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="TbUser" />
                  <option name="moduleName" value="SpringCloud" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="F:\SpringCloud_user\uaa\src\main" />
      </ProjectProfile>
    </option>
  </component>
</project>